body h1, h2, h3, h4, h5, h6 { font-family: Sintony, 'Helvetica Neue', Helvetica, arial, sans-serif; font-weight: 700; }
body p { font: 14px/20px Sintony, 'Helvetica Neue', Helvetica, arial, sans-serif; }
body p.lead { font: 20px/30px Sintony, 'Helvetica Neue', Helvetica, arial, sans-serif; margin: 5% 0; }
body p.lead-decorative { font: 20px/30px Trocchi, 'Helvetica Neue', Helvetica, arial, sans-serif; margin: 5% 0; }
body ul { font: 14px/20px Sintony, 'Helvetica Neue', Helvetica, arial, sans-serif; }
body ul li { margin-bottom: 10px; }
.x-large { font-size: 500%; line-height: 200%; }